<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>두 번째 매치</title>
<style>
	img { width: 500px; height:500px; }
</style>
</head>
<body>
	<div align="center">
	
		<h1>Who is your favorite star? (두 번째 매치)</h1>
		
		<form method="get" action="/star/3">
			<table border="1">
				<tr> 
					<td><img src="/해바리기.jpg"> 
					<td><img src="/둘리.jpg">
				<tr> 
					<th><input type="radio" name="choice2" value="해바리기">해바리기 by Van Gogh 
					<th><input type="radio" name="choice2" value="둘리">둘리
			</table> <p>
			<input type="submit" value="선택">
		</form>
		
	</div>
</body>
</html>