<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>투표 결과</title>
<style>
	body { background-color: yellow; }
	img { width: 500px; height:500px; }
	#fcount { color: blue; text-align:right; }
</style>
</head>
<body>
	<div align="center">
	
		<h1>투표 결과</h1>
		
		<table border="1">
			<tr> <th>이름 <th>우승 횟수
			<tr th:each="a:${arr}">
				<td th:text="${a.name}"> <td th:text="${a.fcount}" id="fcount">
		</table> <p>
		
		<form method="get" action="/star/reset">
			<button type="submit">투표결과 초기화1</button>
		</form> <p>
		
		<button onclick="location.href='/star/reset'">투표결과 초기화2</button> <p>
		
		<a href="/star/1">4강전 다시 시작</a> <p>
		
		<video src="/video.mp4" width="500" height="350" muted autoplay controls loop></video> <p>
		
		<iframe src="https://ww.daum.net" width="500" height="350"></iframe>
		
	</div>
</body>
</html>