<link rel="stylesheet" href="/stylesheets/friend.css">

<div class="friend-page-box">

    <div class="friend-page-menu-box">
        <div class="friend-page-menu-container" id="friend-list-menu" >
            <div class="friend-list-menu-text" id="friend-list-menu-text">친구 목록</div>
        </div>
        <div class="friend-page-menu-container" id="friend-request-list-menu">
            <div class="friend-request-menu-text" id="friend-request-menu-text">친구 요청</div>
        </div>
    </div>

    <div class="freind-page-list-box" id="freind-page-list-box">

        

    </div>

</div>



<div id="id" style="display: none;"><%= id %></div>
<div id="userId" style="display: none;"><%= userId %></div>
<script src="/functions/f_friend.js"></script>
