<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>성공</title>

<style>
	body { background-color:rgb(255, 255, 128); }
	table {width: 600px;}
	#td1 { color:blue; font-weight:bold; }
	#td2 { color:red; text-align:right; }
</style>

</head>
<body>

	<div align="center">
		<h3> 전체 회원 리스트</h3>
		<table border="1">
			 <tr> <th>mid <th>pw <th>name <th>phone <th>마일리지 <th>가입일시
			 <tr th:each="a:${arr}"> 
				 <td th:text="${a.mid}" id="td1">mid
				 <td th:text="${a.pw}">pw
				 <td th:text="${a.name}">name
				 <td th:text="${a.phone}">phone
				 <td th:text="${a.mileage}" id="td2">mileage 
				 <td th:text="${a.rdate}">rdate
		</table> <p>
		DB 연결 성공 축하축하!!!
	</div>

</body>
</html>