<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ch5 Quiz12</title>

<style>
	body { background-color: orange; }
	table {width: 600px;}
	#order_id { color:blue; font-weight:bold; }
	#quantity { color:red; text-align:right; }
</style>

</head>
<body>

	<div align="center">
		<h3> 전체 제품 리스트</h3>
		<table border="1">
			 <tr> <th>구매번호 <th>고객Id <th>상품명 <th>구매수량 <th>구매일시
			 <tr th:each="a:${arr}"> 
				 <td th:text="${a.order_id}" id="order_id">order_id
				 <td th:text="${a.customer_id}">customer_id
				 <td th:text="${a.product_name}">product_name
				 <td th:text="${a.quantity}" id="quantity">quantity
				 <td th:text="${a.rdate}">rdate
		</table> <p>
		
	</div>

</body>
</html>