<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>설문 리스트</title>

<style>
	body { background-color: orange; }
	table {width: 600px;}
	#userid { color:blue; font-weight:bold; }
</style>

</head>
<body>

	<div align="center">
		<h3>전체 설문 리스트</h3>
		<table border="1">
			 <tr> <th>no <th>설문자id <th>음식 <th>디저트 <th>설문일시
			 <tr th:each="a:${arr}"> 
				 <td th:text="${a.no}" >no
				 <td th:text="${a.userid}" id="userid">userid
				 <td th:text="${a.food}">food
				 <td th:text="${a.dessert}">dessert
				 <td th:text="${a.sdate}">sdate
		</table> <p>
		<a href="/start">시작으로 돌아가기</a>
	</div>

</body>
</html>