<!--

thymeleaf
- 변수를 html에 표현해 주기 위해 thymeleaf라는 view template 사용
- templates 폴더의 html파일들

@Controller
- 총 컨트롤 역할. 사용자 요구 감지하고 view 선택
- 어떤 주소에 어떤 화면(html)을 내보낼지 결정(view template에 있는 파일들 중)

@RequestParam	: 앞에서 보낸 파라미터를 받을 때 사용.

templates 폴더	: Controller가 내보낼 view template을 저장
static 폴더	: index.html(미리 약속한 파일명) 외에 css파일, 그림파일 등을 저장

// button 방법 2가지
1. <button>로그인</button>
2. <input type="submit" value="로그인">

@RquestParam(name="mid") String mid
-> input태그의 name="mid"이고, value="hi" 라고 되있다면
	해당 태그의 기본값은 hi이 됨 (입력안해도 적혀있음, 지우고 수정가능함)
cf) <option>은 밖에 적혀있는 값이 value가 됨

### ex02
1.
option태그에 value속성이 없는 경우
ex) <option> 사원
이런 경우 사원이라는 단어는 화면에도 뜨고 전송되는 value값도 됩니다.

2.
하지만, option태그에 value속성이 있는 경우
ex> <option value="sawon"> 사원
이런경우 사원은 화면용
sawon은 전송되는 value값이 됩니다.


### ex03
select 태그에 name이 설정되있고, option태그 안에 value값을 지정해놓음	

cf) ${}안에는 python 방식으로 코드를 작성해야 함
그래서 문자열인 background-color: 에 ''를 묶어줌
1. 
단순히 변수를 넣을려면 아래 방식으로
<strong th:text="${n}"></strong>

2-1.
변수와 하드코딩 같이하려면 아래 방식으로
<title th:text="|${n}'s color|"></title>

2-2. 이 방법을 더 선호
<body th:style="${'background-color:' + c}">
style안에 변수가 들어가야되므로, 타임리프의 th:style=""을 사용하여 변수 사용


### ex04
타임리프의 옵션
- th:text
- th:style
- th:each
- th:if
- 기타 등등 

### ch3_Q12
id : css나 js에서 쓰임

버튼
1. <button>로그인</button>
2. <input type="submit" value="로그인">

<img src="/static폴더에있는사진" alt="사진이 없을 경우 대체할 글">
<a href="인터넷 url">

-->	